##ignore this file##
ml-action/chapter-02/testDigits/
.gitignore
.idea/.gitignore
.idea/ML-ACTION.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
ml-action/chapter-04/__pycache__/
ml-action/chapter-05/__pycache__/
ml-action/chapter-09/__pycache__/
ml-action/chapter-11/__pycache__/
ml-action/chapter-12/__pycache__/
ml-action/chapter-13/__pycache__/
ml-action/chapter-14/__pycache__/
ml-action/chapter-02/trainingDigits/
