##ignore this file##
chapter-02/testDigits/
.gitignore
.idea/.gitignore
.idea/ML-ACTION.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
chapter-04/__pycache__/
chapter-05/__pycache__/
chapter-09/__pycache__/
chapter-11/__pycache__/
chapter-12/__pycache__/
chapter-13/__pycache__/
chapter-14/__pycache__/
chapter-02/trainingDigits/
